[Unit]
Description=Buzzer
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/pi/buzzer/docker
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
User=pi
Group=pi
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
